{% extends 'base.html' %}
{% load static %}


{% block title %}
    AidESILV
{% endblock %}

{% block style %}
  <!-- Bootstrap core CSS -->
  <!--link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"-->

  <!--Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet" >
  {% endblock %}

{% block content %}
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Se ravitailler en un clic.</span>
    <span class="site-heading-lower">AidESILV</span>
  </h1>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/gestes-barrieres.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Se ravitailler efficacement</span>
            <span class="section-heading-lower">{% if user.is_authenticated %} Bienvenu {{user.username}} !{% else %}{{ count }} inscriptions.{% endif %}</span>
          </h2>
          {% if user.is_authenticated %}
            <p class="mb-3">Ravitaillez vous et consultez les dernières actualités depuis votre portail.
            </p>
          {% else %}
            <p class="mb-3">Connectez-vous au compte de votre foyer pour effectuer une commande. Un suivi complet est effectué par votre commune. Retrouvez aussi les dernières actualités ainsi qu'une carte interactive afin de connaitre la situation de vote département.
            </p>
          {% endif %}

          {% if not user.is_authenticated %}
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'signup' %}">Inscription</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Notre engagement</span>
              <span class="section-heading-lower">À votre égard</span>
            </h2>
            <p class="mb-0">Une livraison dans les délais indiqués, ainsi qu'une décontamination totale de la marchandise avant livraison. Les contraintes alimentaires pour cause médicale ou religieuse de chacun sont prises en compte.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; AidESILV 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!--script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script-->
  {% endblock %}
