{% extends 'base.html' %}

{% block content %}
    {{ message }}
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-3">
            <p>{{ object.name }}</p>
            <p>Price: {{ object.price }} €</p>
            {% if object in user.ebooks.all %}
            <button type="button" class="btn btn-secondary btn-lg" disabled>You own this</button>
            {% elif object in current_order_products %}
            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Go to Cart</a>
            {% else %}
            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}