{% extends 'base.html' %}

{% block content %}
    {% if messages %}

    <style type="text/css">
        div.messages{
            background-color: #ff6b6b;
            color: #f7fff7;
        }
        ul.messages{
            list-style-type: none;
        }
    </style>

    <div class='messages'>

    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
    </ul>

    </div>
    {% endif %}
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-3">
            <p>{{ object.name }}</p>
            <p>Catégorie : {{ object.category }}</p>
            {% if object in user.ebooks.all %}
            <a href="{% url 'account:my_profile' %}" class="btn btn-warning" disabled>Livraison en cours...</a>
            {% elif object in current_order_products %}
            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Aller au panier</a>
            {% else %}
            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Ajouter au panier</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}